@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color: #5372f0;
}
body {
  min-height: 100vh;
  background-color: var(--background-color);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}
.wrapper {
  width: 605px;
  background-color: white;
  border-radius: 15px;
  padding: 30px 30px 25px;
}
.wrapper header {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .content {
  margin: 35px 0;
}

.content .quote-area {
  display: flex;
  justify-content: center;
}
.quote-area i {
  font-size: 15px;
}
.quote-area i:first-child {
  margin: 3px 10px 0 0;
}
.qoute-area i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}
.quote-area .quote {
  font-size: 22px;
  text-align: center;
  word-break: break-all;
}
.content .author {
  display: flex;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  justify-content: flex-end;
}
.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons {
  border-top: 1px solid #ccc;
}
.buttons .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.features ul {
  display: flex;
}
.features ul li {
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--background-color);
  border: var(--background-color) 2px solid;
  transition: all 0.3s ease;
}
.features ul li:hover {
  color: #fff;
  background-color: var(--background-color);
}

.features button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 13px 22px;
  border-radius: 30px;
  background-color: var(--background-color);
  font-style: 16px;
}
button .loading {
  opacity: 0.7;
  pointer-events: none;
}
.owner {
  text-align: center;
  bottom: 10px;
  position: absolute;
  margin: 0px 0px auto 30vw;
  color: #fff;
}
a {
  color: #fff;
}
@media screen and (max-width: 560px) {
  body {
    align-items: center;
    min-height: 40vh;
    margin: 10px;
  }
  .features {
    flex-wrap: wrap-reverse;
    gap: 10px;
  }
  .features button {
    padding: 9px 18px;
  }
  .features ul li {
    width: 40px;
    height: 30px;
  }
  .wrapper header {
    font-size: 2.1em;
  }
  .quote-area .quote {
    font-size: 1.2em;
  }
  .owner {
    text-align: left;
    position: relative;
    text-align: center;
    position: relative;
    margin: 30px 0px auto 3px;
  }
}
